html, body {
    margin: 0;
    padding: 0;
    background-color: #e6ccb2;
}

nav {
    background-color: #b08968;
    padding: 10px 30px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #583101;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddb892;
    text-decoration: underline;
}

#texto_derecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 50px auto;
    padding: 0 80px;
    font-size: 20px;
    color: #583101;
    background-color: #ddb892;
}

#texto_derecha .texto {
    flex: 1;
    max-width: 55%;
}

#texto_derecha h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #583101;
}

#texto_derecha p {
    line-height: 1.6;
    text-align: justify;
}

#texto_derecha img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
}

#promocion_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 50px auto;
    padding: 0 80px;
    font-size: 20px;
    color: #583101;
    background-color: #ddb892;
    flex-direction: row-reverse;
}

#promocion_nav .texto {
    flex: 1;
    max-width: 55%;
}

#promocion_nav h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #583101;
    text-align: left;
}

#promocion_nav p {
    line-height: 1.6;
    text-align: justify;
}

#promocion_nav img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
}

.cafes_populares {
    text-align: center;
    margin: 50px auto;
    padding: 0 80px;
    font-size: 20px;
    color: #583101;
}

.cafes_populares h2 {
    margin-bottom: 30px;
}

.cafes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cafe {
  background: #fff;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.cafe img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.cafe h3 {
  margin: 10px 0 5px;
}

.cafe p {
  font-size: 0.9rem;
  color: #5c3d1a;
}

#equipo_hachi{
    text-align: center;
    margin: 50px auto;
    padding: 0 80px;
    font-size: 20px;
    color: #583101;
}


footer{
    background-color: #b08968;
    color: #583101;
    text-align: center;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}
